@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap");
html, body, ul, li, a, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  background: none;
  color: #fff;
  border: none;
}

html {
  font-size: 10px;
  background: #000;
  color: #fff;
  font: 10px Noto Sans KR, sans-serif;
  scroll-behavior: smooth;
}

button, input, code {
  font: 10px Noto Sans KR, sans-serif;
}

body, ul, li, a, p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #fff;
}

header div a, .menu, .menu .burger-menu {
  vertical-align: middle;
}

/*----------헤더----------*/
header {
  width: 100%;
  border-bottom: 1px solid #555;
}

header:after {
  content: "";
  display: block;
  clear: both;
}

header div {
  position: relative;
  padding: 2rem 0;
  width: 1200px;
  margin: 0 auto;
}

header div a {
  line-height: 2.5;
}

header div a img {
  display: inline-block;
  vertical-align: middle;
}

header div nav {
  display: inline-block;
  font-size: 2rem;
  padding-left: 4rem;
}

header div nav a {
  display: inline-block;
  margin-right: 4rem;
  -webkit-transition: .3s;
  transition: .3s;
}

header div nav a:hover {
  color: #ee686e;
}

header div nav span {
  position: absolute;
  display: block;
  height: 3px;
  background: #e50914;
  left: 0;
  bottom: 0;
}

header div P {
  float: right;
}

.click-event {
  position: absolute;
  top: 40%;
  left: 14%;
  overflow: hidden;
  font-size: 1.4rem;
}

.click-event span {
  position: relative;
  left: -150%;
  -webkit-transition: 1s;
  transition: 1s;
  display: none;
  visibility: hidden;
  opacity: 0;
}

.menu .user-menu {
  font-size: 1.4em;
}

.menu .user-menu a {
  display: inline-block;
  margin-right: 2rem;
  color: #aaa;
  line-height: 3;
  -webkit-transition: .3s;
  transition: .3s;
}

.menu .user-menu a:hover {
  color: #fff;
}

.menu .user-menu :nth-of-type(2) {
  margin-right: 4rem;
}

.menu .burger-menu {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 1px solid #aaa;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.menu .burger-menu span {
  position: absolute;
  display: block;
  width: 50%;
  height: 30%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu .burger-menu span span {
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background: #aaa;
}

.menu .burger-menu span :nth-of-type(1) {
  top: 0;
}

.menu .burger-menu span :nth-of-type(3) {
  top: 100%;
}

.menu .burger-menu .menu-bg {
  display: block;
  position: absolute;
  width: 100%;
  height: calc(100% + 2px);
  background: #e50914;
  left: -100%;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: .3s;
  transition: .3s;
}

.menu :hover .menu-bg {
  left: 50%;
}

.menu :hover span span {
  background: #fff;
}

/*----------풋터----------*/
footer {
  background: #151515;
}

.inner {
  width: 1200px;
  margin: 0 auto;
  padding: 3rem 0 3rem 18rem;
  background: url("../img/common/logo_footer.png") left 3rem no-repeat;
}

.inner span {
  display: block;
  margin-bottom: 2rem;
}

.inner span a {
  display: inline-block;
  margin-right: 2rem;
}

.inner p {
  white-space: pre-line;
  font-size: 1.2rem;
  color: #555;
}
/*# sourceMappingURL=common.css.map */