@import url("common.css");
html {
  overflow: hidden;
}

.find-id > div {
  width: 1200px;
  margin: 0 auto;
  padding: 4rem 0 11rem 0;
}

.find-id > div::after {
  content: '';
  display: block;
  clear: both;
}

.find-id > div h2 {
  font-size: 2.8rem;
  padding-bottom: 2rem;
}

.find-id > div h2 span {
  display: inline-block;
  margin-left: 2rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: #bbb;
}

.write-section {
  width: 800px;
  border-top: 1px solid #aaa;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 7rem;
  float: left;
}

.write-section input[type=text] {
  width: 350px;
  height: 50px;
  border: 1px solid #ccc;
  padding-left: 2rem;
  font-size: 1.4rem;
  outline: none;
}

.write-section input[type=submit] {
  background: #be0a0a;
  border: none;
  outline: none;
  width: 350px;
  height: 50px;
  font-size: 1.4rem;
  color: #fff;
  margin-bottom: 3rem;
  cursor: pointer;
}

.write-section::before {
  content: '';
  display: block;
  position: absolute;
  top: -1px;
  left: 0;
  width: 135px;
  height: 1px;
  background: #be0a0a;
}

.write-section::after {
  content: '';
  display: block;
  clear: both;
}

.step-change {
  width: 100%;
  height: 400px;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
}

.step {
  width: 100%;
  position: relative;
  left: 0;
  display: block;
  -webkit-transition: .5s;
  transition: .5s;
}

.step li {
  width: 100%;
  position: absolute;
}

.one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.one input[type=text] {
  margin-bottom: 1.5rem;
  display: block;
}

.two {
  left: 100%;
}

.two > span {
  display: block;
  text-align: center;
  padding: 2rem 0 3rem 0;
  border-bottom: 1px solid #666;
}

.two > span a {
  display: inline-block;
  font-size: 1.6rem;
  padding: 1.5rem 5rem;
  margin-right: 2rem;
  background: #666;
}

.two > span a:last-child {
  background: #c2151c;
}

.two p {
  text-align: center;
  font-size: 1.6rem;
}

.two p:nth-of-type(1) {
  border: 1px solid #666;
  padding: 4rem;
}

.two p:nth-of-type(2) {
  padding-top: 3rem;
  white-space: pre-line;
  color: #999;
}

.two p:nth-of-type(2) input[type=submit] {
  margin-top: 1rem;
  width: 150px;
}

.three {
  left: 200%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.three strong {
  display: block;
  margin-bottom: 4rem;
  font-size: 2rem;
  font-weight: 400;
}

.three span {
  display: block;
  width: 350px;
  font-size: 1.4rem;
  padding: 1rem 0 2rem 0;
}

.three span::after {
  content: '';
  display: block;
  clear: both;
}

.three span code {
  font-size: 1.4rem;
}

.three span input[type=submit] {
  width: 50px;
  height: 25px;
  background: #666;
  margin: 0;
  font-size: 1.2rem;
  float: right;
}

.four {
  left: 300%;
}

.four > span {
  display: block;
  text-align: center;
  padding: 2rem 0 3rem 0;
}

.four > span a {
  display: inline-block;
  font-size: 1.6rem;
  padding: 1.5rem 5rem;
  margin-right: 2rem;
  background: #666;
}

.four > span a:last-child {
  background: #c2151c;
}

.four p {
  text-align: center;
  font-size: 1.6rem;
  border: 1px solid #666;
  padding: 4rem;
}

.ads-section {
  float: right;
  position: relative;
}

.ig {
  position: absolute;
  right: 5%;
  top: -10%;
}

.ig span {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #666;
  margin-left: 1rem;
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
}

.ig span.active {
  background: #fff;
}

.ig span.active span {
  background: #c2151c;
}

.ig span:first-child {
  margin: 0;
}

.ig span span {
  display: block;
  position: absolute;
  width: 0;
  height: 100%;
  background: #980f15;
  -webkit-transition: .5s;
  transition: .5s;
}

.change-ads {
  width: 300px;
  overflow: hidden;
  /*  
        ul{
            transform: translateX(-100%)
        }
    */
}

.change-ads ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

.ig .btn {
  display: inline-block;
  background: none;
}

.ig .btn .btn-play,
.ig .btn .btn-pause {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.ig .btn .btn-play img,
.ig .btn .btn-pause img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.ig .btn .btn-play {
  display: none;
}
/*# sourceMappingURL=findId.css.map */