@charset "UTF-8";
@import url("common.css");
/*----------슬라이드 콘텐츠----------*/
.slide {
  width: 100%;
  border-bottom: 1px solid #222;
  padding: 2rem 0 10rem 0;
  position: relative;
}

.slide .change-slide {
  height: 480px;
  position: relative;
  padding-left: 10px;
}

.slide .change-slide li {
  height: 100%;
  position: relative;
  /* position: absolute;
            left: 0%; */
  /* &:nth-of-type(2){
                left: 50%;
                transform: translateX(-50%);
            }

            &:nth-of-type(3){
                left: 100%;
                transform: translateX(-100%);
            }

            &:nth-of-type(4){
                left: 150%;
                transform: translateX(-150%);
            }

            &:nth-of-type(5){
                left: 200%;
                transform: translateX(-200%);
            } */
}

.slide .change-slide li iframe {
  /* width: 100%;
                height: 100%; */
  display: none;
}

.slide .change-slide li > img {
  width: 100%;
  height: 100%;
}

.slide .change-slide li .function-box {
  width: 100%;
  height: 30%;
  bottom: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  padding: 2rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*----------슬라이드 콘텐츠_배경이미지----------*/
/*----------슬라이드 콘텐츠 간격----------*/
/*----------슬라이드 콘텐츠_내용----------*/
.function-box .set-box {
  width: 40%;
}

.function-box .set-box img {
  display: inline-block;
}

.function-box .set-box > span {
  display: inline-block;
  width: 100%;
  margin-bottom: 1rem;
}

.function-box .set-box > span a {
  display: inline-block;
  width: 50%;
  color: #000;
  background-color: #fff;
  border-radius: 0.5rem;
  font-size: 2rem;
  padding: 0.8rem 0;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: .5s;
  transition: .5s;
}

.function-box .set-box > span a:hover {
  background: #ccc;
}

.function-box .set-box > span a img {
  margin-right: 1rem;
}

.function-box .set-box > span span {
  display: inline-block;
  border: 1px solid #fff;
  padding: 1.8rem;
  vertical-align: middle;
  border-radius: 100%;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.function-box .set-box > span span:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.function-box .set-box > span span:nth-of-type(1) {
  margin: 0 0.5rem;
  background: url("../img/common/thumbs_up.png") center center no-repeat;
  background-size: 50%;
}

.function-box .set-box > span span:nth-of-type(2) {
  background: url("../img/common/thumbs_down.png") center center no-repeat;
  background-size: 50%;
}

.function-box .set-box button {
  width: 100%;
  padding: 0.8rem 0;
  background: #666;
  border-radius: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.function-box .set-box button:hover {
  background: #444;
}

.function-box .set-box button img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}

.function-box .info {
  width: 60%;
  padding-left: 1rem;
}

.function-box .info strong {
  display: block;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

.function-box .info p {
  font-size: 1.4rem;
  font-weight: 300;
}

/*----------슬라이드 전환 인디게이터----------*/
.ig2 {
  text-align: center;
  padding-top: 3rem;
  /* span {
        display: inline-block;
        width: 8px;
        height: 8px;
        background: #666;
        margin-left: 1.6rem;
        position: relative;
        transition: .5s;

        &.active {
            width: 80px;
            background: #3a0306;

            span {
                background: #c2151c;
            }
        }

        &:first-child {
            margin: 0;
        }

        span {
            display: block;
            position: absolute;
            width: 0;
            height: 100%;
            background: #980f15;
            transition: .5s;
        }
    } */
}

.ig2 .btn {
  display: inline-block;
  margin-left: 1rem;
  vertical-align: .4rem;
  background: none;
}

.ig2 .btn .btn-play,
.ig2 .btn .btn-pause {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.ig2 .btn .btn-play img,
.ig2 .btn .btn-pause img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.ig2 .btn .btn-play {
  display: none;
}

/*----------슬라이드 전환 버튼----------*/
.slide_prev,
.slide_next {
  display: inline-block;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.slide_prev:hover,
.slide_next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.slide_prev {
  background: url("../img/common/slide_left.png") center center no-repeat;
  background-color: rgba(80, 80, 80, 0.5);
  left: 0;
}

.slide_next {
  background: url("../img/common/slide_right.png") center center no-repeat;
  background-color: rgba(80, 80, 80, 0.5);
  right: 0;
}

/*----------TOP10_프로그램----------*/
.top-10 > div {
  width: 1200px;
  margin: 0 auto;
  padding: 4rem 0;
  border-bottom: 2px solid #555;
}

.top-10 > div h2 {
  font-size: 2.8rem;
  margin-bottom: 2rem;
}

.top-10 > div div {
  position: relative;
}

.top-10 > div div ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-10 > div div ul li {
  font-size: 0;
  width: 23.3%;
  overflow: hidden;
}

.top-10 > div div ul li:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.top-10 > div div ul li img {
  width: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

/*----------TOP10_프로그램 리스트----------*/
.top-10_list {
  position: absolute;
  right: 0;
  top: -7%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.top-10_list span {
  display: inline-block;
  width: 20px;
  height: 2px;
  background: #666;
}

.top-10_list span.active {
  background: #fff;
}

/*----------TOP10_프로그램 슬라이드 버튼----------*/
.top-10_prev,
.top-10_next {
  display: block;
  width: 60px;
  height: 300px;
  position: absolute;
  top: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.top-10_next {
  right: 0;
  background: url("../img/common/content_next.png") center center no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
}

.top-10_prev {
  left: 0;
  background: url("../img/common/content_prev.png") center center no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
}

.top-10 > div div:hover .top-10_list,
.top-10 > div div:hover .top-10_prev,
.top-10 > div div:hover .top-10_next {
  opacity: 1;
  visibility: visible;
}

.top-10_prev:hover,
.top-10_next:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/*----------TV프로그램----------*/
.tv-program > div {
  width: 1200px;
  margin: 0 auto;
  padding: 70px 0;
}

/*----------TV프로그램 제목----------*/
.tv-title h2 {
  display: inline-block;
  font-size: 2.8rem;
  margin-right: 2rem;
}

.tv-title > span {
  font-size: 1.6rem;
  margin-left: 3rem;
  cursor: pointer;
}

.tv-title > span span:last-child {
  margin-left: 20px;
  color: #555;
}

/*----------장르 버튼----------*/
.genre {
  display: inline-block;
  position: relative;
}

.genre span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #fff;
  padding: 0.8rem 1.5rem;
  font-size: 1.4rem;
}

.genre span img {
  margin-left: 2rem;
  width: 1.2rem;
  height: 0.7rem;
}

.genre > div {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.4rem;
  width: 350%;
  background: rgba(80, 80, 80, 0.8);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.genre > div ul li {
  padding: 0.5rem;
}

.genre > div ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*----------프로그램 목록----------*/
.tv-program div article h3 {
  font-size: 2rem;
  margin: 4rem 0 2rem 0;
}

.tv-program div article div {
  position: relative;
}

.tv-program div article div ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tv-program div article div ul li {
  font-size: 0;
  width: 23.3%;
  overflow: hidden;
  cursor: pointer;
}

.tv-program div article div ul li:hover img {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.tv-program div article div ul li img {
  width: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

/*----------TOP10_프로그램 리스트----------*/
.tv_list {
  position: absolute;
  right: 0;
  top: -7%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.tv_list span {
  display: inline-block;
  width: 20px;
  height: 2px;
  background: #666;
}

.tv_list span.active {
  background: #fff;
}

/*----------TOP10_프로그램 슬라이드 버튼----------*/
.tv_prev,
.tv_next {
  display: block;
  width: 60px;
  height: 300px;
  position: absolute;
  top: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.tv_next {
  right: 0;
  background: url("../img/common/content_next.png") center center no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
}

.tv_prev {
  left: 0;
  background: url("../img/common/content_prev.png") center center no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
}

.tv-program article div:hover .tv_list,
.tv-program article div:hover .tv_prev,
.tv-program article div:hover .tv_next {
  opacity: 1;
  visibility: visible;
}

.tv_prev:hover,
.tv_next:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.netflix-ori .tv_prev,
.netflix-ori .tv_next {
  height: 360px;
}
/*# sourceMappingURL=Netflix_main.css.map */